<a href="https://colab.research.google.com/github/gaelsreis/puc_rio-full_stack/blob/main/disciplina_2_aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PUC-Rio | Pós-graduação Full Stack
Disciplina 2 | Banco de Dados (BD)

*Professor: Sérgio Lifschitz*

Aula 2: Projeto Conceitual e Linguagem SQL DDL (criação e atualização de esquemas) e SQL DML (atualização de instâncias)

**Primeira Parte:** Projeto Conceitual com Diagramas ER

Enunciado: https://drive.google.com/file/d/1Sd8Nd1nraKALk-GqRszRCu4MZqmBDBE5/view?usp=sharing

Ferramenta: BRmodelo

Solução: https://drive.google.com/file/d/10-lx_mCLC4svbnopnlBKxtfsBJGqdbXt/view?usp=sharing

**Segunda Parte:**

Prática de SQL DML (atualização de instâncias)

## Passo 1: Instalação e configuração do PostgreSQL

Instalar o SGBD PostgreSQL

In [1]:
%%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

## Passo 2: Preparo do Esquema Relacional CARROS2

Enunciado: https://drive.google.com/file/d/1B0OFWhCV8zOLt0FQ5KvCutLPhuMveZ84/view?usp=sharing

Diferentemente da aula 1, aqui você irá utilizar os comandos de criação do esquema CARROS2 propostos por você no seu próprio COLAB, seguindo as instruções do enunciado da Lista da Aula 2. Você pode utilizar os scripts do esquema CARROS da Aula 1 apenas como referência de "gabarito".

In [2]:
# Cria o esquema no banco de dados
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'

## Passo 3: Preparando para usar o SGBD PostgreSQL localmente

In [3]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [4]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

## Prática de SQL DDL (esquemas) e DML (instâncias)

Criação e atualização do esquema CARROS2 implantado no SGBD PostgreSQL, seguindo as instruções dos exercícios desta aula 2.

In [5]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

'Connected: postgres@postgres'

In [6]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [ ]:
# Exemplo de CREATE TABLE: 

# Você pode modificar e adaptar ao teu próprio comando.

%%sql
 
CREATE TABLE carros.automoveis (
    codigo integer NOT NULL,
    ano character(2) NOT NULL,
    fabricante character(20),
    modelo character(20),
    preco_tabela numeric(8,2),
    pais character(20)
);

In [ ]:
# Exercício 1: Criar com o comando create table as tabelas da base de dados Carros2 abaixo, ligeiramente
# diferente da utilizada no exercício da Aula 1, definindo inicialmente apenas algumas das restrições de
# integridade (chave, entidade, referencial e domínio). Você pode fazer escolhas arbitrárias para as
# restrições de domínio, sem prejuízo ao resultado final.
#
# AUTOMOVEIS (Código, Fabricante, Modelo, Ano, País, Preco_tabela)
# REVENDEDORAS (CNPJ, Nome, CPFproprietário, Estado)
# CONSUMIDORES (CPF, Nome, Sobrenome, Data_Nascimento, Estado)
# NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
# GARAGENS (CNPJrevenda, CodigoAuto, AnoAuto, Quantidade)
#
# Para algumas tabelas não definir ainda as restrições de PK e FK. Essas serão acrescentadas posteriormente.
# Lembrar que, para simplificação, há um código único para cada par (fabricante, modelo) em Automóveis,
# independente do seu ano de referência que define o preço de tabela.

%%sql

create table carros.REVENDEDORAS (
  CNPJ numeric(14) NOT NULL,
  Nome character(20),
  CPF_proprietário numeric(11),
  Estado character(2),
  CONSTRAINT PK_REVENDEDORAS PRIMARY KEY (CNPJ)
  );

create table carros.CONSUMIDORES (
  CPF numeric(11) NOT NULL,
  Nome character(20),
  Sobrenome character(20),
  Data_Nascimento date,
  Estado character(2),
  CONSTRAINT PK_CONSUMIDORES PRIMARY KEY (CPF)
  );

create table carros.NEGOCIOS (
  CPFcomprador numeric(11) NOT NULL,
  CNPJrevenda numeric(14) NOT NULL,
  CodigoAuto integer,
  AnoAuto numeric(4),
  Data date,
  Preco numeric(8,2)
  );

create table carros.GARAGENS (
  CNPJrevenda numeric(14) NOT NULL,
  CodigoAuto integer,
  AnoAuto character(2),
  Quantidade integer DEFAULT 0,
  CONSTRAINT PK_GARAGENS PRIMARY KEY (CNPJrevenda)
  );

In [ ]:
# Exercício 2: Colocar dados nas tabelas com o comando SQL DDL insert. Os dados podem ser criados ou
# inventados por você, ou ainda, podem ser obtidos em websites na internet, considerando
# revendedoras e fabricantes de automóveis existentes. Seguem alguns sites de referência para dados
# “realistas” sobre automóveis, CPFs e CNPJs válidos:
# • Automóveis na tabela FIPE: https://veiculos.fipe.org.br/
# • Gerador de CPFs: https://www.4devs.com.br/gerador_de_cpf
# • Gerador de CNPJs: https://www.4devs.com.br/gerador_de_cnpj

# AUTOMOVEIS (Código, Ano, Fabricante, Modelo, Preco_tabela, País)
# REVENDEDORAS (CNPJ, Nome, CPFproprietário, Estado)
# CONSUMIDORES (CPF, Nome, Sobrenome, Data_Nascimento, Estado)
# NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
# GARAGENS (CNPJrevenda, CodigoAuto, AnoAuto, Quantidade)

%%sql

INSERT INTO carros.automoveis VALUES (0001, '07', 'Agrale', 'Marruá', 50939.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0002, '94', 'Engesa', '4x4 4.0', 45249.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0003, '23', 'Fibravan', 'Buggy', 98800.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0004, '92', 'Lada', 'Laika', 22155.00, 'Rússia');
INSERT INTO carros.automoveis VALUES (0005, '92', 'Lada', 'Niva', 15830.00, 'Rússia');
INSERT INTO carros.automoveis VALUES (0006, '07', 'Troller', 'Pantanal', 34124.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0007, '07', 'Troller', 'T-4', 87941.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0008, '93', 'Gurgel', 'BR-800', 13313.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0009, '94', 'Gurgel', 'Carajas', 21120.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0010, '13', 'Bugre', 'Buggy', 25704.00, 'Brasil');

INSERT INTO carros.REVENDEDORAS VALUES (83530654000154, 'Cobalto', 14136130040, 'RJ');
INSERT INTO carros.REVENDEDORAS VALUES (03954428000161, 'Tupi', 78539182084, 'RJ');
INSERT INTO carros.REVENDEDORAS VALUES (70326627000112, 'Colinas', 79497337051, 'SP');
INSERT INTO carros.REVENDEDORAS VALUES (12829194000111, 'Recreio', 29285591086, 'BA');
INSERT INTO carros.REVENDEDORAS VALUES (15493568000169, 'Contorno', 53199927009, 'DF');

INSERT INTO carros.CONSUMIDORES VALUES (14136130040, 'José', 'Silva', '04/12/1945', 'RJ');  # MM/DD/AAAA
INSERT INTO carros.CONSUMIDORES VALUES (44722869049, 'Joana', 'Matos', '14/11/1996', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (79497337051, 'Carlos', 'Gomes', '04/12/1967', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (90434016098, 'Liz', 'Ribeiro', '07/12/1998', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (53199927009, 'João', 'Oliveira', '11/12/1985', 'RJ');

INSERT INTO carros.NEGOCIOS VALUES (14136130040, 83530654000154, 0001, '07', '01/01/2023', 50939.00);
INSERT INTO carros.NEGOCIOS VALUES (44722869049, 03954428000161, 0005, '92', '01/14/2023', 15830.00);
INSERT INTO carros.NEGOCIOS VALUES (79497337051, 70326627000112, 0007, '07', '02/02/2023', 87941.00);
INSERT INTO carros.NEGOCIOS VALUES (90434016098, 12829194000111, 0003, '23', '03/10/2023', 98800.00);
INSERT INTO carros.NEGOCIOS VALUES (53199927009, 15493568000169, 0004, '92', '03/11/2023', 22155.00);

INSERT INTO carros.GARAGENS VALUES (83530654000154, 0001, '07', 5);
INSERT INTO carros.GARAGENS VALUES (03954428000161, 0005, '92', 5);
INSERT INTO carros.GARAGENS VALUES (70326627000112, 0007, '07', 5);
INSERT INTO carros.GARAGENS VALUES (12829194000111, 0003, '23', 5);
INSERT INTO carros.GARAGENS VALUES (15493568000169, 0004, '92', 5);

In [33]:
# Exercício 3: Testar, já com as tabelas da Carros2 contendo alguns dados, o comando alter table que atualiza os
# esquemas (estrutura) das tabelas, acrescentando e retirando atributos, acrescentando, retirando ou
# alterando restrições e depois voltar à situação original, entre outros.

%%sql

alter table carros.automoveis drop column ano;
alter table carros.automoveis add ano numeric(4);

alter table carros.NEGOCIOS drop column AnoAuto;
alter table carros.NEGOCIOS add AnoAuto numeric(4);

alter table carros.GARAGENS drop column AnoAuto;
alter table carros.GARAGENS add AnoAuto numeric(4);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.

[]

In [ ]:
# Exercício 4: Seguir colocando e alterando dados em sua base Carros2, mas utilizar agora, além do comando
# insert, os demais comandos (delete e update) de atualização de instâncias da linguagem SQL.

%%sql

update carros.automoveis set ano = 2007 where codigo = 1;
update carros.automoveis set ano = 1994 where codigo = 2;
update carros.automoveis set ano = 2023 where codigo = 3;
update carros.automoveis set ano = 1992 where codigo = 4;
update carros.automoveis set ano = 1992 where codigo = 5;
update carros.automoveis set ano = 2007 where codigo = 6;
update carros.automoveis set ano = 2007 where codigo = 7;
update carros.automoveis set ano = 1993 where codigo = 8;
update carros.automoveis set ano = 1994 where codigo = 9;
update carros.automoveis set ano = 2013 where codigo = 10;

update carros.NEGOCIOS set AnoAuto = 2007 where CodigoAuto = 1;
update carros.NEGOCIOS set AnoAuto = 1994 where CodigoAuto = 2;
update carros.NEGOCIOS set AnoAuto = 2023 where CodigoAuto = 3;
update carros.NEGOCIOS set AnoAuto = 1992 where CodigoAuto = 4;
update carros.NEGOCIOS set AnoAuto = 1992 where CodigoAuto = 5;
update carros.NEGOCIOS set AnoAuto = 2007 where CodigoAuto = 6;
update carros.NEGOCIOS set AnoAuto = 2007 where CodigoAuto = 7;
update carros.NEGOCIOS set AnoAuto = 1993 where CodigoAuto = 8;
update carros.NEGOCIOS set AnoAuto = 1994 where CodigoAuto = 9;
update carros.NEGOCIOS set AnoAuto = 2013 where CodigoAuto = 10;

update carros.GARAGENS set AnoAuto = 2007 where CodigoAuto = 1;
update carros.GARAGENS set AnoAuto = 1994 where CodigoAuto = 2;
update carros.GARAGENS set AnoAuto = 2023 where CodigoAuto = 3;
update carros.GARAGENS set AnoAuto = 1992 where CodigoAuto = 4;
update carros.GARAGENS set AnoAuto = 1992 where CodigoAuto = 5;
update carros.GARAGENS set AnoAuto = 2007 where CodigoAuto = 6;
update carros.GARAGENS set AnoAuto = 2007 where CodigoAuto = 7;
update carros.GARAGENS set AnoAuto = 1993 where CodigoAuto = 8;
update carros.GARAGENS set AnoAuto = 1994 where CodigoAuto = 9;
update carros.GARAGENS set AnoAuto = 2013 where CodigoAuto = 10;

In [ ]:
# Exercício 5: Finalmente, testar as restrições de integridade estruturais definidas, como por exemplo, inserções
# com PKs já existente, supressão de tuplas com FKs definidas ou, ainda, o controle de validação de
# valores em domínios de dados gerais ou específicos, além de nulos.

%%sql

select * from carros.GARAGENS