<a href="https://colab.research.google.com/github/gaelsreis/puc_rio-full_stack/blob/main/disciplina_2_aula_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PUC-Rio | Pós-graduação Full Stack
Disciplina 2 | Banco de Dados (BD)

*Professor: Sérgio Lifschitz*

Aula 1: Introdução à Linguagem SQL DML (consultas)

## Passo 1: Instalação e configuração do PostgreSQL

Instalar o SGBD PostgreSQL

In [1]:
%%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

## Passo 2: Preparo do Esquema Relacional CARROS 

Preparar o ambiente (Esquema e Instância de testes) para realizar consultas SQL.

Baixe o esquema: https://drive.google.com/file/d/1pjKbGImerDoBxRCUTuus-Mg652m9hhQJ/view?usp=sharing

Salve o esquema na pasta padrão do seu Google Drive e siga as instruções abaixo.

In [8]:
# Monta o diretório do Google Drive no seu Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
# Cria o esquema no banco de dados
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'
!PGPASSWORD='postgres' psql -h localhost -U postgres -d postgres -a -f drive/MyDrive/esquema_carros.sql

## Passo 3: Preparando para usar o SGBD PostgreSQL localmente

In [10]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [11]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Lista de exercícios para prática de SQL 

Consultas simples sobre o esquema CARROS implantado no SGBD PostgreSQL

Respostas [PDF compartilhado](https://drive.google.com/file/d/1zcekq_NjbqyKhvxd5hnDDoCUApUozypK/view?usp=share_link) em SQL sugeridas


Esquema relacional da base de dados Carros:

<img src='https://drive.google.com/uc?export=view&id=1pIB4LORRz4J2gwEjM_qxwVYHDlqXGg5Y'>

Chaves primárias sublinhadas e chaves estrangeiras em itálico.

In [12]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

'Connected: postgres@postgres'

In [13]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [14]:
# Exemplo de consulta: 

# Exercício 1: Quais automóveis italianos na base de dados?

# Para rodar a consulta em SQL abaixo, basta dar PLAY nesta célula!
# Se quiser, pode mudar o país e verificar as respostas (instâncias!) distintas.

%%sql
 
SELECT *
FROM automoveis 
WHERE pais = 'Italia';

 * postgresql://postgres:***@localhost:5432/postgres
11 rows affected.

[(1051, '88', 'Fiat                ', 'Elba                ', Decimal('6200.00'), 'Italia              '),
 (1051, '89', 'Fiat                ', 'Elba                ', Decimal('7600.00'), 'Italia              '),
 (1052, '93', 'Fiat                ', 'Tempra              ', Decimal('18800.00'), 'Italia              '),
 (1053, '95', 'Fiat                ', 'Tipo                ', Decimal('13000.00'), 'Italia              '),
 (1052, '94', 'Fiat                ', 'Tempra              ', Decimal('20500.00'), 'Italia              '),
 (1051, '90', 'Fiat                ', 'Elba                ', Decimal('10800.00'), 'Italia              '),
 (1052, '95', 'Fiat                ', 'Tempra              ', Decimal('34000.00'), 'Italia              '),
 (1051, '95', 'Fiat                ', 'Elba                ', Decimal('18300.00'), 'Italia              '),
 (1201, '95', 'Ferrari             ', '512                 ', Decimal('330000.00'), 'Italia              '),
 (1051, '93', 'Fiat                ', 'Elba                ', Decimal('12600.00'), 'Italia              '),
 (1202, '95', 'Ferrari             ', '348                 ', Decimal('215000.00'), 'Italia              ')]

In [16]:
# Tente agora definir as seguintes consultas em SQL. Após o último exercício,  
# disponibilizamos algumas soluções propostas para simples conferência.

# Exercício 2: Listar os nomes dos fabricantes dos automóveis na base de dados 
# e os respectivos países de origem. 

%%sql

select distinct fabricante, pais
FROM automoveis
order by fabricante

 * postgresql://postgres:***@localhost:5432/postgres
32 rows affected.

[('Audi                ', 'Alemanha            '),
 ('BMW                 ', 'Alemanha            '),
 ('Chevrolet           ', 'EUA                 '),
 ('Citroen             ', 'Franca              '),
 ('Daewoo              ', 'Coreia              '),
 ('Daihatsu            ', 'Coreia              '),
 ('Ferrari             ', 'Italia              '),
 ('Fiat                ', 'Italia              '),
 ('Fiat                ', 'Brasil              '),
 ('Ford                ', 'Brasil              '),
 ('Ford                ', 'EUA                 '),
 ('General Motors      ', 'EUA                 '),
 ('Gurgel              ', 'Brasil              '),
 ('Honda               ', 'Japao               '),
 ('Hyundai             ', 'Coreia              '),
 ('Jac                 ', 'Brasil              '),
 ('Lada                ', 'Russia              '),
 ('Land Rover          ', 'Inglaterra          '),
 ('Mazda               ', 'Japao               '),
 ('Mercedes Benz       ', 'Alemanha            '),
 ('Mercedez Benz       ', 'Alemanha            '),
 ('Mitsubishi          ', 'Japao               '),
 ('Nissan              ', 'Japao               '),
 ('Peugeot             ', 'Franca              '),
 ('Porsche             ', 'UK                  '),
 ('Porsche             ', 'Inglaterra          '),
 ('Renault             ', 'Franca              '),
 ('Rolls Royce         ', 'Inglaterra          '),
 ('Suzuki              ', 'Japao               '),
 ('Toyota              ', 'Japao               '),
 ('Volkswagen          ', 'Alemanha            '),
 ('Volvo               ', 'Suecia              ')]

In [17]:
# Exercício 3: Listar os nomes das pessoas que são potenciais compradoras de 
# automóveis, moradoras do estado do Rio de Janeiro, e que também sejam 
# proprietárias de revendedoras

%%sql

select cpf, nome
from consumidores
where estado = 'RJ'
and cpf in (select proprietario from revendedoras)

 * postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[('8999-9      ', 'Paulo          '),
 ('7451-1      ', 'Marcos         '),
 ('6228-8      ', 'Benedita       '),
 ('8981-1      ', 'Gilberto       '),
 ('5698-8      ', 'Romario        '),
 ('6565-5      ', 'Claudio        '),
 ('6568-8      ', 'Caetano        '),
 ('8745-5      ', 'Vera           ')]

In [18]:
# Exercício 4: Quais revendedoras presentes nos estados da Bahia e Pernambuco? 

%%sql

select cgc, nome
from revendedoras
where estado = 'BA' or estado = 'PE'
order by estado

 * postgresql://postgres:***@localhost:5432/postgres
11 rows affected.

[(10030, 'Bahia Veiculos      '),
 (10100, 'Self Car            '),
 (10020, 'Courcelles          '),
 (10540, 'Superauto           '),
 (10610, 'Mirage              '),
 (10790, 'Caltabiano          '),
 (10040, 'Fracalanza          '),
 (10310, 'Lian                '),
 (10080, 'Self Car            '),
 (10420, 'Cavox               '),
 (10180, 'Libra               ')]

In [19]:
# Exercício 5: Quais são os automóveis no banco de dados, com valor tabelado 
# superior a 120 mil reais, que ainda não foram comprados por consumidor algum?

%%sql

select codigo, fabricante, modelo
from automoveis
where preco_tabela > 120000
and codigo not in (select codigo from negocios)

 * postgresql://postgres:***@localhost:5432/postgres
7 rows affected.

[(1181, 'Porsche             ', '938 GTS             '),
 (1201, 'Ferrari             ', '512                 '),
 (1241, 'Rolls Royce         ', 'Corniche            '),
 (1154, 'BMW                 ', '840                 '),
 (1202, 'Ferrari             ', '348                 '),
 (1182, 'Porsche             ', '921 Carrera         '),
 (1194, 'Mercedes Benz       ', 'S500                ')]

In [20]:
# Exercício 6: Quais revendedoras (CGC) têm para vender automóveis 
# dos anos 88 e 89?.

%%sql

select distinct cgc
from garagens
where ano in ('88', '89')
order by cgc

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[(10030,), (10200,), (10310,), (10780,), (10930,), (10980,)]