<a href="https://colab.research.google.com/github/gaelsreis/puc_rio-full_stack/blob/main/disciplina_2_aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PUC-Rio | Pós-graduação Full Stack
Disciplina 2 | Banco de Dados (BD)

*Professor: Sérgio Lifschitz*

Aula 2: Projeto Conceitual e Linguagem SQL DDL (criação e atualização de esquemas) e SQL DML (atualização de instâncias)


---

**Primeira Parte:**
## [Projeto de Modelagem Conceitual com Diagramas ER](https://drive.google.com/file/d/1Sd8Nd1nraKALk-GqRszRCu4MZqmBDBE5/view?usp=sharing)

Considere o problema de modelar, conceitualmente, uma base de dados de uma grande empresa comercial. As seguintes características devem ser representadas na base de dados:
A empresa é organizada em departamentos, cada qual tendo um nome, um número de identificação e um empregado responsável (gerente) pelo mesmo. Guarda-se como informação a data a partir da qual o empregado assumiu a gerência do departamento. Cada departamento pode estar presente em diversas localidades do país.
Um departamento controla um certo número de projetos, cada qual tendo um nome, um número de identificação e uma localidade única. Os departamentos têm vários empregados, para os quais guarda-se os respectivos nomes, número de matrícula na empresa, endereço residencial, sexo, data de nascimento e salário.
Todo empregado, exceto o presidente e eventualmente outros diretores no topo da hierarquia da empresa, tem um empregado que é seu superior hierárquico (supervisor direto) dentro do departamento, informação que também deve ser mantida no banco de dados.
Um empregado é alocado a um único departamento mas pode estar alocado a mais de um projeto, estes não necessariamente controlados pelo mesmo departamento. Controla-se o total de horas semanais em que um empregado trabalha em cada projeto.
Para fim de controle de seguro de saúde de cada empregado, deve-se manter
informações dos nomes, sexo, data de nascimento e grau de parentesco de seus
dependentes.

**Pede-se:**
Modelar conceitualmente um possível banco de dados sobre (esta visão simplificada de) empresas comerciais utilizando o Modelo de Entidades e Relacionamentos (MER), em sua representação diagramática com cardinalidades min-max.
Utilizar alguma ferramenta CASE (Computer Aided Software Engineering) como o software [BRmodelo](https://colab.research.google.com/drive/1brQxk0Uw3dopzfyVXZxFq1BgOO4B2VZv#scrollTo=_EpddbHsjL6E&line=5&uniqifier=1) para auxílio na construção do Diagrama ER. Há versões [DESKTOP](http://www.sis4.com/brModelo/) (Java) e ONLINE para uso em navegadores na web.

[Solução](https://drive.google.com/file/d/10-lx_mCLC4svbnopnlBKxtfsBJGqdbXt/view?usp=sharing).

**Passo 1: Instalação e configuração do PostgreSQL**

Instalar o SGBD PostgreSQL

In [9]:
%%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

**Passo 2: Preparo do Esquema Relacional CARROS2**

Diferentemente da aula 1, aqui você irá utilizar os comandos de criação do esquema CARROS2 propostos por você no seu próprio COLAB, seguindo as instruções do [enunciado](https://drive.google.com/file/d/1B0OFWhCV8zOLt0FQ5KvCutLPhuMveZ84/view?usp=sharing) da Lista da Aula 2. Você pode utilizar os scripts do esquema CARROS da Aula 1 apenas como referência de "gabarito".

In [10]:
# Cria o esquema no banco de dados
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'

**Passo 3: Preparando para usar o SGBD PostgreSQL localmente**

In [11]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [12]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

'Connected: postgres@postgres'

In [14]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

**Segunda Parte:**
## Prática de SQL DDL (esquemas) e DML (instâncias)

Criação e atualização do esquema CARROS2 implantado no SGBD PostgreSQL, seguindo as instruções dos exercícios desta aula 2.

In [104]:
# Exemplo de CREATE TABLE: 

# Você pode modificar e adaptar ao teu próprio comando.

%%sql
 
CREATE TABLE carros.automoveis (
    Codigo integer NOT NULL,
    Ano numeric(4) NOT NULL,
    Fabricante character(20),
    Modelo character(20),
    Preco_tabela numeric(8,2),
    Pais character(20),
    CONSTRAINT pk_automoveis PRIMARY KEY (Codigo, Ano)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### **Exercício 1:** SQL DDL (esquemas) com create table

Criar com o comando [create table](https://www.postgresql.org/docs/current/sql-createtable.html) as tabelas da base de dados Carros2 abaixo, ligeiramente diferente da utilizada no exercício da Aula 1, definindo inicialmente apenas algumas das restrições de integridade (chave, entidade, referencial e domínio). Você pode fazer escolhas arbitrárias para as restrições de domínio, sem prejuízo ao resultado final.

AUTOMOVEIS (*Código*, Fabricante, Modelo, *Ano*, País, Preco_tabela)

REVENDEDORAS (*CNPJ*, Nome, CPFproprietário, Estado)

CONSUMIDORES (*CPF*, Nome, Sobrenome, Data_Nascimento, Estado)

NEGOCIOS (*CPFcomprador*, *CNPJrevenda*, CodigoAuto, AnoAuto, Data, Preco)

GARAGENS (*CNPJrevenda*, *CodigoAuto*, *AnoAuto*, Quantidade)

Para algumas tabelas *não definir ainda* as restrições de PK e FK. Essas serão acrescentadas posteriormente. Lembrar que, para simplificação, há um código único para cada par (fabricante, modelo) em Automóveis, independente do seu ano de referência que define o preço de tabela.

In [107]:
# Exercício 1: Comando create table

%%sql

create table carros.revendedoras (
  CNPJ numeric(14) NOT NULL,
  Nome character(20),
  CPF_proprietário numeric(11),
  Estado character(2),
  CONSTRAINT pk_revendedoras PRIMARY KEY (CNPJ)
  );

create table carros.consumidores (
  CPF numeric(11) NOT NULL,
  Nome character(20),
  Sobrenome character(20),
  Data_Nascimento date,
  Estado character(2),
  CONSTRAINT pk_consumidores PRIMARY KEY (CPF)
  );

create table carros.negocios (
  CPFcomprador numeric(11) NOT NULL,
  CNPJrevenda numeric(14) NOT NULL,
  CodigoAuto integer,
  AnoAuto numeric(4),
  Data date,
  Preco numeric(8,2),
  CONSTRAINT pk_negocios PRIMARY KEY (CPFcomprador, CNPJrevenda),
  CONSTRAINT fk_negocios_auto FOREIGN KEY(CodigoAuto, AnoAuto) REFERENCES automoveis(Codigo, Ano)
  );

create table carros.garagens (
  CNPJrevenda numeric(14) NOT NULL,
  CodigoAuto integer NOT NULL,
  AnoAuto numeric(4) NOT NULL,
  Quantidade integer DEFAULT 0,
  CONSTRAINT pk_garagens PRIMARY KEY (CNPJrevenda, CodigoAuto, AnoAuto),
  CONSTRAINT fk_garagens_auto FOREIGN KEY(CodigoAuto, AnoAuto) REFERENCES automoveis(Codigo,, Ano)
  );

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.

[]

### **Exercício 2:** DML (instâncias) com insert

Colocar dados nas tabelas com o comando SQL DDL [insert](https://www.postgresql.org/docs/current/sql-insert.html). Os dados podem ser criados ou inventados por você, ou ainda, podem ser obtidos em websites na internet, considerando revendedoras e fabricantes de automóveis existentes. Seguem alguns sites de referência para dados “realistas” sobre automóveis, CPFs e CNPJs válidos:

• Automóveis na [Tabela FIPE](https://veiculos.fipe.org.br/).

• Gerador de [CPFs](https://www.4devs.com.br/gerador_de_cpf) e [CNPJs](https://www.4devs.com.br/gerador_de_cnpj).

In [ ]:
# Exercício 2: Comando insert
# Obs.: formato data é MM/DD/AAAA

%%sql

INSERT INTO carros.automoveis VALUES (0001, 2007, 'Agrale', 'Marruá', 50939.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0002, 1994, 'Engesa', '4x4 4.0', 45249.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0003, 2023, 'Fibravan', 'Buggy', 98800.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0004, 1992, 'Lada', 'Laika', 22155.00, 'Rússia');
INSERT INTO carros.automoveis VALUES (0005, 1992, 'Lada', 'Niva', 15830.00, 'Rússia');
INSERT INTO carros.automoveis VALUES (0006, 2007, 'Troller', 'Pantanal', 34124.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0007, 2007, 'Troller', 'T-4', 87941.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0008, 1993, 'Gurgel', 'BR-800', 13313.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0009, 1994, 'Gurgel', 'Carajas', 21120.00, 'Brasil');
INSERT INTO carros.automoveis VALUES (0010, 2013, 'Bugre', 'Buggy', 25704.00, 'Brasil');

INSERT INTO carros.REVENDEDORAS VALUES (83530654000154, 'Cobalto', 14136130040, 'RJ');
INSERT INTO carros.REVENDEDORAS VALUES (03954428000161, 'Tupi', 78539182084, 'RJ');
INSERT INTO carros.REVENDEDORAS VALUES (70326627000112, 'Colinas', 79497337051, 'SP');
INSERT INTO carros.REVENDEDORAS VALUES (12829194000111, 'Recreio', 29285591086, 'BA');
INSERT INTO carros.REVENDEDORAS VALUES (15493568000169, 'Contorno', 53199927009, 'DF');

INSERT INTO carros.CONSUMIDORES VALUES (14136130040, 'José', 'Silva', '04/12/1945', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (44722869049, 'Joana', 'Matos', '04/11/1996', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (79497337051, 'Carlos', 'Gomes', '04/12/1967', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (90434016098, 'Liz', 'Ribeiro', '07/12/1998', 'RJ');
INSERT INTO carros.CONSUMIDORES VALUES (53199927009, 'João', 'Oliveira', '11/12/1985', 'RJ');

INSERT INTO carros.NEGOCIOS VALUES (14136130040, 83530654000154, 0001, 2007, '01/01/2023', 50939.00);
INSERT INTO carros.NEGOCIOS VALUES (44722869049, 03954428000161, 0005, 1992, '01/14/2023', 15830.00);
INSERT INTO carros.NEGOCIOS VALUES (79497337051, 70326627000112, 0007, 2007, '02/02/2023', 87941.00);
INSERT INTO carros.NEGOCIOS VALUES (90434016098, 12829194000111, 0003, 2023, '03/10/2023', 98800.00);
INSERT INTO carros.NEGOCIOS VALUES (53199927009, 15493568000169, 0004, 1992, '03/11/2023', 22155.00);

INSERT INTO carros.GARAGENS VALUES (83530654000154, 0001, 2007, 5);
INSERT INTO carros.GARAGENS VALUES (03954428000161, 0005, 1992, 5);
INSERT INTO carros.GARAGENS VALUES (70326627000112, 0007, 2007, 5);
INSERT INTO carros.GARAGENS VALUES (12829194000111, 0003, 2023, 5);
INSERT INTO carros.GARAGENS VALUES (15493568000169, 0004, 1992, 5);

### **Exercício 3:** SQL DDL (esquemas) com alter table

Testar, já com as tabelas da Carros2 contendo alguns dados, o comando [alter table](https://www.postgresql.org/docs/current/sql-altertable.html) que atualiza os esquemas (estrutura) das tabelas, acrescentando e retirando atributos, acrescentando, retirando ou alterando restrições e depois voltar à situação original, entre outros.

In [ ]:
# Exercício 3: Testar

%%sql

alter table automoveis add CONSTRAINT pk_automoveis_codigo PRIMARY KEY(codigo);

ALTER TABLE NEGOCIOS ADD CONSTRAINT fk_negocios_CodigoAuto FOREIGN KEY(CodigoAuto) REFERENCES automoveis(codigo);

### **Exercício 4:** DML (instâncias) com insert, delete e update

Seguir colocando e alterando dados em sua base Carros2, mas utilizar agora, além do comando insert, os demais comandos ([delete](https://www.postgresql.org/docs/current/sql-delete.html) e [update](https://www.postgresql.org/docs/current/sql-update.html)) de atualização de instâncias da linguagem SQL.

In [119]:
# Exercício 4: Comandos insert, delete e update

%%sql

INSERT INTO carros.automoveis VALUES (0011, 2023, 'Ferrari', 'GT', 80939.00, 'Itália');
update carros.automoveis set Ano = 2011 where Codigo = 11
delete from carros.automoveis where Codigo = 11

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[]

### **Exercício 5:** Restrições de Integridade Estruturais

Finalmente, testar as restrições de integridade estruturais definidas, como por exemplo, inserções com PKs já existente, supressão de tuplas com FKs definidas ou, ainda, o controle de validação de valores em domínios de dados gerais ou específicos, além de nulos.

In [121]:
%%sql

select * from automoveis

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(1, Decimal('2007'), 'Agrale              ', 'Marruá              ', Decimal('50939.00'), 'Brasil              '),
 (2, Decimal('1994'), 'Engesa              ', '4x4 4.0             ', Decimal('45249.00'), 'Brasil              '),
 (3, Decimal('2023'), 'Fibravan            ', 'Buggy               ', Decimal('98800.00'), 'Brasil              '),
 (4, Decimal('1992'), 'Lada                ', 'Laika               ', Decimal('22155.00'), 'Rússia              '),
 (5, Decimal('1992'), 'Lada                ', 'Niva                ', Decimal('15830.00'), 'Rússia              '),
 (6, Decimal('2007'), 'Troller             ', 'Pantanal            ', Decimal('34124.00'), 'Brasil              '),
 (7, Decimal('2007'), 'Troller             ', 'T-4                 ', Decimal('87941.00'), 'Brasil              '),
 (8, Decimal('1993'), 'Gurgel              ', 'BR-800              ', Decimal('13313.00'), 'Brasil              '),
 (9, Decimal('1994'), 'Gurgel              ', 'Carajas             ', Decimal('21120.00'), 'Brasil              '),
 (10, Decimal('2013'), 'Bugre               ', 'Buggy               ', Decimal('25704.00'), 'Brasil              ')]

In [ ]:
# Exercício 5: Integridade estruturais.

# select * from automoveis
#insert into garagens values (83530654000154, 0001, 2007, 1)  # UniqueViolation
#insert into garagens values (13530654000154, 0001, 2001, 1)  # ForeignKeyViolation

%%sql

insert into garagens values (83534444000151, 0001, 2002, 1)